<%= render 'form', edit: true, cat: @cat %>

<!--
# <h1>EDIT CAT</h1>
# <form action="<%= cat_url %>" method="POST">
#   <input type="hidden" name="_method" value="PATCH">
#   <label for="name">Name</label>
#   <input type= "input" name = "cat[name]" id="name" value="<%= @cat.name %>">
#   <label for="date">Birth date</label>
#   <input type= "date" name = "cat[birth_date]" id="date" value="<%= @cat.birth_date %>">
#   <label for="color">Color</label>
#   <select name = "cat[color]">
#     <option selected value="<%= @cat.color %>"><%= @cat.color %></option>
#     <option value="black">black</option>
#     <option value="green">green</option>
#     <option value="orange">orange</option>
#     <option value="blue">blue</option>
#     <option value="white">white</option>
#     <option value="gray">gray</option>
#     <option value="brown">brown</option>
#     <option value="red">red</option>
#   </select>
#   <% if @cat.sex == "M" %>
#     <input type="radio" id="m" name="cat[sex]" value="M" checked>
#     <label for="m">M</label>
#     <input type="radio" id="f" name="cat[sex]" value="F">
#     <label for="f">F</label>
#   <% else %>
#     <input type="radio" id="m" name="cat[sex]" value="M">
#     <label for="m">M</label>
#     <input type="radio" id="f" name="cat[sex]" value="F" checked>
#     <label for="f">F</label>
#   <% end %>
#   <br><br><br>
#   <label for="description">Description</label>
#   <br>
#   <textarea id="description" name="cat[description]" rows="8" cols="80"><%= @cat.description %></textarea>
#   <br>
#   <label for="submit">Submit</label>
#   <input type= "submit" name = "Submit" id="submit">
# </form> --->