<table style= "border: 1px solid #333">
  <thead>
    <tr>
      <th colspan="2"<h1><%= @cat.name %></h1></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style= "border: 1px solid #333"> <h2>Color:</h2> </td>
      <td style= "border: 1px solid #333"><h2 style="color: <%= @cat.color %>"><%= @cat.color %></h2></td>
    </tr>
    <tr>
      <td style= "border: 1px solid #333"> <h2>Age:</h2> </td>
      <td style= "border: 1px solid #333"><h2><%= @cat.age %></h2></td>
    </tr>
    <tr>
      <td style= "border: 1px solid #333"> <h2>Sex:</h2> </td>
      <td style= "border: 1px solid #333"><h2><%= @cat.sex %></h2></td>
    </tr>
    </tr>
    <tr>
      <td style= "border: 1px solid #333"> <h2>Description:</h2> </td>
      <td style= "border: 1px solid #333"><h2><%= @cat.description %></h2></td>
    </tr>
  </tbody>
</table>
